@use "../../App.scss" as globalVar;
.projects {
  min-height: 100vh;
  height: auto;
  padding: 2rem 4rem;
  background-color: #f1f1f1;
  letter-spacing: 1px;
  line-height: 25px;
  position: relative;
  top: 10vh;

  > h1 {
    font-size: 3.8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    height: 22rem;
    width: 19rem;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    margin: 1rem;
    white-space: wrap;

    &:hover {
      transform: scale(1.05);
      transition: all ease-in 0.2s;
    }

    > img {
      height: 60%;
      border-radius: 10px;
      width: 100%;
      overflow: hidden;
      &:hover{
        cursor: pointer;
      }
    }

    .githubIcon {
      height: 40px;
      padding: 10px;
      width: 40px;
      cursor: pointer;
    }

    > small {
      padding: 5px;
      display: block;
      height: 22%;
      overflow: hidden;
    }

    > h3 {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.darktheme {
  >h1{
    color: globalVar.$textColorDarkMode;

  }
  .card {
    background-color: #303134 !important;
    > h3,
    small {
      > svg {
        > g > g {
          fill: white;
        }
      }
      color: globalVar.$textColorDarkMode;
    }
  }
}

@media screen and (max-width: 1135px) {
  .projects {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 885px) {
  .projects {
    padding: 0;
    margin-bottom: 4rem;
    > h1 {
      font-size: 2rem;
    }
  }
}
