.about {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #f1f1f1;
  letter-spacing: 1px;
  padding: 2rem 4rem;
  line-height: 25px;
  position: relative;
  top: 10vh;

  >h1 {
    font-size: 2.8rem;
    padding: 2rem;
  }

  >section {
    display: flex;

    .sectionLeft {
      width: 50%;
      padding: 3rem 5rem;

      >h3 {
        margin: 1rem;
        letter-spacing: 1px;
        line-height: 25px;
      }

      >div {
        margin: 1rem;

        >p {
          margin: 20px 0;
          //   letter-spacing: 1px;
          //   line-height: 25px;
        }

        >span {
          line-height: 25px;
          letter-spacing: 1px;
        }
      }
    }

    .sectionRight {
      width: 50%;
      padding: 3rem 5rem;

      >h3 {
        margin: 1rem;
        // letter-spacing: 1px;
        // line-height: 25px;
      }

      >div {
        height: 50%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .skills {
      height: 2.8rem;
      min-width: 3rem;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.8rem;
      font-weight: 600;
      border-radius: 5px;
      padding: 3px 5px;
      background-color: #ffffff;
      margin: .5rem;

      &:hover {
        background-color: chartreuse;
        transition: all ease-in 0.3s;
      }
    }
  }
}

@media screen and (max-width:885px) {
  .about {
    padding: 2rem 2rem;
    margin-bottom: 4rem;
    >h1 {
      font-size: 2rem;
    }

    section {
      flex-direction: column;
      align-items: center;

      // justify-content: center;
      .sectionLeft,
      .sectionRight {
        width: 100%;
        padding: 0rem;
      }
    }

  }
}