@use "../../App.scss" as globalVar;
.hero {
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
  top: 10vh;
  > .section1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    > img,
    > video {
      // object-fit: cover;
      height: 26rem;
      width: 24rem;
      border-radius: 100%;
    }
  }
  > .section2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 5rem;
    > h1 {
      margin: 1rem 0;
      font-size: 3.2rem;
      //   font-weight: 00;
    }
    > p {
      margin: 1rem 0;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .buttonLinks {
      width: 100px;
      display: flex;
      margin: 1rem 0;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 0.7rem 0.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        transition: all ease-in 0.2s;
      }
    }
  }
}

@media screen and (max-width: 885px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    .section1 {
      > img {
        height: 20rem;
        width: 20rem;
      }
    }
    .section2 {
      width: 100%;
      > h1 {
        font-size: 2rem;
      }
    }
  }
}
