@use "../../App.scss" as globalVar;
nav {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.left {
  a {
    margin: 0.8rem;
  }
}
.right {
  > svg {
    cursor: pointer;
    margin: 0.8rem;
    height: 30px;
    width: 30px;
    &:hover {
      transform: translateY(-3px);
      transition: all ease-in 0.15s;
    }
  }
}
.logo {
  font-size: 26px;
}
.menu {
  display: none;
}

.darkMode {
  .menu{
    >svg{
      fill: white;
    }
  }
  .left {
    > a {
      color: globalVar.$textColorDarkMode;
    }
  }
  .right {
    > svg {
      cursor: pointer;
      margin: 0.8rem;
      height: 30px;
      width: 30px;
    }
    .github {
      > g {
        > g {
          fill: white;
        }
      }
    }
  }
}
@media screen and (max-width: 885px) {
  nav {
    padding: 0 0.6rem;
  }
  .info {
    display: none;
  }
  .menu {
    padding: 0.5rem;
    font-size: 1.4rem;
    display: block;
    cursor: pointer;
  }
}
