.timeline {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
  margin: 1rem;
  border-radius: 5px;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    // top: 37px;
    right: 0;
    z-index: -1;
    background-color: #d9d9d9;
  }
  >div {
    
    width: 80%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    >h1,
    small,
    p {
      padding: 1rem;
      white-space: wrap;
    }
    >img {
      height: 40px;
      width: 40px;
      position: absolute;
      right: -18px;
      top: 0;
      border-radius: 50%;
    }
    
  }
}
.timelineRight {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 5px;
  position: relative;
  margin: 1rem;
  left: 50%;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    // top: 37px;
    left: -6px;
    z-index: -1;
    background-color: #d9d9d9;
  }
  >div {
    width: 80%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    >h1,
    small,
    p {
      padding: 1rem;
    }
    >img {
      height: 40px;
      border-radius: 50%;
      width: 40px;
      position: absolute;
      left: -24px;
    }
    
  }




}


@media screen and (max-width:725px) {

  .timeline {
    width: 95%;
    &::after {
      content: "";
      left: 17px;
    }
    >div{
      >img{
        left: 0px;
      }
    }
  }

  .timelineRight {
    width: 95%;
    left: 0;
    &::after {
      content: "";
      left: 17px;
    }
    >div{
      >img{
        left: 0px;
      }
    }
  }
}