footer{
    height: 90px;
    padding:0 4rem;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    justify-content: space-between;
    font-size: 18px;
    font-weight: lighter;
}