@use "../../App.scss" as globalVar;
.work {
  min-height: 110vh;
  height: auto;
  padding: 2rem 4rem;
  background-color: #f1f1f1;
  letter-spacing: 1px;
  line-height: 25px;
  position: relative;
  margin-bottom: 4rem;
  top: 10vh;

  > h1 {
    font-size: 2.8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 885px) {
  .work {
    > h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 725px) {
  .work {
    padding: 2rem 1rem;
  }
}
